* {

    margin: 0;
    padding: 0;
    background-color:rgb(2, 8, 58);

}

.titulo {

    font-weight: normal;
    letter-spacing: -1px;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    background: transparent;

}

.sub-titulo {

    font-weight: bold;
    letter-spacing: 4px;
    font-size: 11px;
    display: flow-root;
    margin-left: 10%;
    color: #c24d69;

}

.menu {

    width: 100%;
    height: 50px;
    margin-left: 70%;
    margin-top: -3%;
    background-color:rgb(2, 8, 58);
    font-family: 'Arial';

}

.menu ul {

    list-style: none;
    position: relative;

}

.menu ul li {

    width: 150px;
    float: left;

}

.menu a {

    padding: 14px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(2, 8, 58);
    color: white;

}

.menu ul ul {

    position: absolute;
    visibility: hidden;

}

.menu ul li:hover ul {

    visibility: visible;

}

.menu a:hover {

    background-color: #f4f4f4;
    color: #c24d69;
    font-weight: bold;

}

.menu ul ul li {

    float: none;
    border-bottom: solid 1px rgb(2, 8, 58);

}

.menu ul ul li a {

    background-color: #c24d69;

}

label[for="btn_menu"] {

    opacity: 5px;
    background-color: rgb(2, 8, 58);
    color: white;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;

}

#btn_menu {

    display: none;

}

.titulo-slide {

    letter-spacing: -1px;
    font-size: 30px;
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
    white-space: pre;
    text-transform: uppercase;
    color: white;
    background: transparent;

}

.subtitulo-slide {

    font-weight: bold;
    letter-spacing: 4px;
    font-size: 25px;
    position: absolute;
    margin-top: 18%;
    margin-left: 20%;
    border-top-style: double;
    color: #c24d69;
    background: transparent;

}

.slide {

    width: 100%;
    height: 500px;
    background-image: url(img/roupa2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    animation: slide 20s infinite;

}

@keyframes slide {

    25% {

        background: url(img/roupa4.jpg);
        background-size: 100% 500px;
        background-repeat: no-repeat;

        }

    50% {

        background: url(img/roupa5.jpg);
        background-repeat: no-repeat;
        background-size: 100% 500px;
    

    }

    75% {

        background: url(img/roupa3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 500px;
       

    }

    100% {

        background: url(img/roupa2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 500px;
     

    }

}

.rodape {

    width: 100%;
    

}

.rodape ul {

    list-style: none;

}

.rodape ul li {

    float: left;
    margin-top: 3%;
    width: 50px;
    left: 45%;
    position: relative;

}

.redes-socias {

    float: left;
    margin-top: 7%;
    left: 44.5%;
    position: absolute;
    
}

.dev {

    color: white;
    position: relative;
    bottom: 0px;
    left: 35px;
    font-family: cursive;
    font-weight: bold;

}

@media(max-width: 800px) {

    .titulo {

        margin-left: 13%;
        position: fixed;
        bottom: 94%;
        
    }

    .sub-titulo {

       margin-left: 44%;
      

    }

    label[for="btn_menu"] {

        display: block;

    }

    #btn_menu:checked ~ .menu {

        margin-left: 0;

    }

    .menu {

        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;

    }

    .menu ul li {

    width: 100%;
    float: none;

    }

    .menu ul ul {

        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;

    }

    .menu ul li:hover ul {

        height: auto;
        max-height: 200px;

    }

    .slide {

        margin-top: -55px;

    }

    .rodape ul li {

        
        width: 50px;
        left: 31%;
       
    
    }

    .redes-socias {

    bottom: -40px;
    margin-left: -44.5%;
    position: relative;

    }

    .dev {

        margin-bottom: 5px;
        left: 25px;

    }

    .titulo-slide {

        margin-left: 18%;
        margin-top: 30%;
        font-size: 20px;

    }

    .subtitulo-slide {
    
        position: absolute;
        margin-top: 50%;
        font-size: 15px;
        margin-left: -10%;
        white-space: pre;

    }

}
